<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - Respira Aí</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="login-container">
        <h1>Cadastra-se</h1>
        <form class="login-form" method="POST" action="{{ url_for('cadastro') }}" autocomplete="off">
            <input type="text" name="nome" placeholder="Nome completo" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
        </form>
        <div class="cadastro">
            Já tem uma conta? <a href="{{ url_for('login') }}">Entrar</a>
        </div>
        <div id="mensagem" style="margin-top:10px;color:red;"></div>
    </div>

</body>
</html>