<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - Respira Aí</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div class="login-container">
        <h1>Cadastra-se</h1>
        <form class="login-form" id="form-cadastro" autocomplete="off">
            <input type="text" name="nome" id="nome" placeholder="Nome completo" required>
            <input type="email" name="email" id="email" placeholder="E-mail" required>
            <input type="password" name="senha" id="senha" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
        </form>
        <div class="cadastro">
            Já tem uma conta? <a href="../templates/login.html">Entrar</a>
        </div>
        <div id="mensagem" style="margin-top:10px;color:red;"></div>
    </div>
    <script src="../static/js/cadastrar.js"></script>
</body>
</html>