<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RespiraAi</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
  <header>
    <nav class="nav-bar">
      <h1>RespiraAi</h1>
      <div class="menu-links">
        <a href="index.html">Exercícios</a>
        <a href="h.html">Histórico</a>
        <a href="estatisticas.html">Estatísticas</a>
      </div>
    </nav>
  </header>


    <main class="historico-main-content">
      <h1>ÚLTIMAS PRÁTICAS</h1>

      <div class="tabela-praticas-container">
        <table class="tabela-praticas">
          <thead>
            <tr>
              <th>DATA</th>
              <th>EXERCÍCIOS</th>
              <th>TEMPO</th>
            </tr>
          </thead>
          <tbody>
            {% for pratica in praticas %}
            <tr>
              <td>{{ pratica.data }}</td>
              <td>{{ pratica.exercicio }}</td>
              <td>{{ pratica.tempo }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
